[Unit]
Description=SECO Synthetic Brain Agent

[Service]
User=seco-iot
Group=seco-iot
Environment=NODE_ENV=production CONFIG_PATH=/var/seco-sb
ExecStart=/usr/bin/node /usr/share/seco-synthetic-brain/index.js
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
